{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:jsx-a11y/recommended",
		"prettier",
		"airbnb"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"prettier",
		"@typescript-eslint",
		"react-hooks",
		"jsx-a11y"
	],
	"rules": {
		"semi": [
			"error",
			"never"
		],
		"object-curly-newline": "off",
		"comma-dangle": [
			"error",
			"never"
		],
		"arrow-parens": [
			"error",
			"as-needed"
		],
		"consistent-return": "off",
		"no-underscore-dangle": "off",
		"func-names": "off",
		"class-methods-use-this": "off",
		"no-useless-constructor": "off",
		"no-unused-vars": "off",
		"no-extra-parens": "off",
		"no-case-declarations": "off",
		"object-shorthand": "error",
		"no-template-curly-in-string": "error",
		"prefer-template": "error",
		"linebreak-style": [
			"error",
			"unix"
		],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"no-tabs": [
			"error",
			{
				"allowIndentationTabs": true
			}
		],
		"import/no-unresolved": "off",
		"import/prefer-default-export": "off",
		"import/extensions": [
			"off",
			"never"
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-param-reassign": "off",
		"no-use-before-define": "off",
		"object-property-newline": "off",
		"max-len": [
			"error",
			{
				"code": 180
			}
		],
		"quotes": [
			"error",
			"single"
		],
		"jsx-quotes": [
			"error",
			"prefer-single"
		],
		"jsx-a11y/label-has-associated-control": "off",
		"jsx-a11y/click-events-have-key-event": "off",
		"jsx-a11y/no-noninteractive-element-interactions": "off",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".tsx"
				]
			}
		],
		"react/jsx-curly-spacing": [
			2,
			{
				"when": "never",
				"attributes": {
					"allowMultiline": true
				},
				"children": true
			}
		],
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"react/jsx-indent-props": [
			2,
			"tab"
		],
		"react/jsx-key": [
			"warn"
		],
		"react/react-in-jsx-scope": "off",
		"react/no-array-index-key": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/jsx-one-expression-per-line": "off",
		"@typescript-eslint/no-empty-function": "warn",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/semi": [
			"error",
			"never"
		]
	}
}
