{
  "singleQuote": true,
  "quoteProps": "as-needed",
  "semi": false,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "trailingComma": "none"
}
