{
  "singleQuote": false,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "trailingComma": "none",
  "printWidth": 92
}
